@model UserApplication.Models.EmailDepartments

@{
    ViewBag.Title = "SelectEmailDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SelectEmailDepartment</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>EmailDepartments</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div>
            @Html.DropDownListFor(model => model.DId, ViewBag.Departments as SelectList, "Select", new { style = "width: 200px;" })
            <input type='hidden' name='file' value='@ViewBag.filename' />
        </div>

    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

